.resultsCol{
    height:500px;
}
img{
    height:500px;
}

#summary{
    text-align:justify;
}
#indexSub{
    font-size:20px;
}
#movieResults{
    font-family: 'Gothic A1', sans-serif;
}
body{
    background-image:url("background.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
    color:white;
    font-family: 'Gothic A1', sans-serif;
}
#logo{
    width:35%;
}
#movieTitle{
    font-size:55px;
    font-family: 'Oranienbaum', serif;
}