body{
    background-image:url("background.png");
    /*background-repeat: no-repeat;*/
    background-size:100% 100%;
    color:white;
    font-family: 'Gothic A1', sans-serif;
}

#moviePosterImg{
    margin:5px;
    margin-bottom: 10px;
}

#summary{
    text-align:justify;
}
#indexSub{
    font-size:20px;
}
#movieResults{
    font-family: 'Gothic A1', sans-serif;
    padding:5px;
    height:50%;
}

#logo{
    width:35%;
}
#movieTitle{
    font-size:55px;
    font-family: 'Oranienbaum', serif;
}
